#mapid {
  height: 700px;
}

#mapContainer {
  width:50%;
  height:300px;
  margin: auto;
  position: relative;
}

#myMap {
  width:100%;
  height:100%;
  margin:auto;
  display:block;
  
}

.slidecontainer {
    width: 50%;
    padding-left:25%;
    padding-right:25%;
    padding-top:0%;
    padding-bottom:0%;
    font-weight:bold;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1f8fff;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1f8fff;
    cursor: pointer;
  }
  .icon{
    padding: 0;
  }
  .iconSelected{
    padding: 0;
    background:#013F85;
  }
  .column{
    float: left;
    display: inline-block;
    padding: 14px 16px;
	width: 5%;
    margin : 0 auto;
    position: relative;
    /*padding: 1px;*/
    text-align: center;
  }


  


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body{
    font-family: 'Varela Round', serif;
    font-size:12px;
    margin:10;
    text-align: center;
  }

h1{
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 0; margin: 0;
}

#branding{
  font-weight:bold;
}

#showcase{
  color:#1f8fff;
}
/*Header */
header{
  color:#013F85;
  min-height:20px;
  text-align: center;
}

h2{
  font-size: 14px;
  text-align: center;
  padding: 0; margin: 0;
}

h3{
  font-size: 14px;
  text-align: center;
  color:#ffffff;
  padding: 0; margin: 0;
}

/*
#experience{
  align-items: center;
}
*/
.column{
    padding-left:7%;
    padding-right:7%;
    padding-top:0%;
    padding-bottom:0%;
}

p{
  color: white;
}

form:hover{
  opacity:0.8;
  filter:alpha(opacity=80);
}

/*Showcase*/
#showcase{
  min-height:25px;
  text-align: center;
}

.row{
  text-align: center;
  width:100%;
  height:10%;
  margin: 0;

  overflow: hidden;
}

#particle-container{
  position: absolute;
  width: 100%;
  height: 100%;
}
